body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('achtergrond.png');
    background-size: cover;
    margin: 0;
}

#quiz-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#team-container {
    margin-bottom: 20px;
}

#team-container input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 15px; /* Vergroot de padding */
    margin: 10px 0; /* Vergroot de marge */
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em; /* Vergroot de tekst */
}

.btn:hover {
    background: #0056b3;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.hide {
    display: none;
}
